body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(10, 35, 70);
}

.card, .modal-content {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

