<app-nav-inicio></app-nav-inicio>

<h3 class="mb-4" style="color: white">Funciones</h3>

<!-- Botones superiores -->
<div class="d-flex gap-3 mb-4">

  <button 
    (click)="cambiarBoton()" 
    [class.active]="n === 1"
    [disabled]="n === 1"
    class="btn btn-primary"
  >
    Lista usuarios
  </button>

  <button 
    (click)="cambiarBoton()" 
    [class.active]="n === 2"
    [disabled]="n === 2"
    class="btn btn-success"
  >
    Registrar usuarios
  </button>

</div>

@if (n === 1) {

  <div class="card shadow-sm p-3">
    <h4 class="mb-3">Usuarios</h4>

    <div class="list-group">

      @for (i of usuarioActual; track i._id) {

        <div class="list-group-item d-flex justify-content-between align-items-center">

          <!-- Info del usuario -->
          <div>
            <p class="fw-bold mb-1">{{ i.username }}</p>
            <p class="mb-0">
              Estado: 
              <span 
                class="badge" 
                [class.bg-success]="i.habilitado"
                [class.bg-danger]="!i.habilitado"
              >
                {{ i.habilitado | habilitar }}
              </span>
            </p>
          </div>

          <!-- Botones -->
          <div>
            @if (i.habilitado) {
              <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(i._id)">
                Eliminar
              </button>
            } @else {
              <button class="btn btn-success btn-sm" (click)="rehabilitarUsuario(i._id)">
                Rehabilitar
              </button>
            }
          </div>

        </div>
      }

    </div>
  </div>
  } @else {
  <div class="container mt-5 d-flex justify-content-center">
  <form (ngSubmit)="registro()" class="card p-4 shadow-lg mi-form" style="width: 420px; border-radius: 1rem; background-color: #f8f9fa;">
    <h2 class="mb-4 text-center fw-bold text-primary">Registrate</h2>

    <div class="text-center mb-3">
      
      <div class="position-relative d-inline-block">
        <p>Selecciona tu foto de perfil</p>
        <label for="imagen" class="form-label fw-semibold"><img 
          [src]="imageUrl" 
          alt="" 
          width="120" 
          height="120" 
          class="rounded-circle border border-3 border-primary mb-2"
          style="object-fit: cover;"
        ></label>
        <input id="imagen" type="file" accept="image/*" (change)="selectImage($event)" hidden>
        @if(imagenError){
          <p class="error text-danger small mb-2">{{errorMessageFile}}</p>
        }
        @if(!image){
          <p class="error text-danger small mb-2">{{errorMessageImagen}}</p>
        }
      </div>
      
    </div>

    <input [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" required class="form-control mb-2">
    @if(!nombre){
      <p class="error text-danger small mb-2">{{errorMessageNombre}}</p>
    }

    <input [(ngModel)]="apellido" name="apellido" type="text" placeholder="Apellido" required class="form-control mb-2">
    @if(!apellido){
      <p class="error text-danger small mb-2">{{errorMessageNombre}}</p>
    }

    <input [(ngModel)]="fecha_nacimiento" name="fecha_nacimiento" type="date" required class="form-control mb-2">
    @if(!fecha_nacimiento){
      <p class="error text-danger small mb-2">{{errorMessageNacimiento}}</p>
    }

    <input [(ngModel)]="email" name="email" type="email" placeholder="Correo electrónico" required class="form-control mb-2">
    @if(!email){
      <p class="error text-danger small mb-2">{{errorMessageEmail}}</p>
    }

    <input [(ngModel)]="username" name="username" type="text" placeholder="Nombre de usuario" required class="form-control mb-2">
    @if(!username){
      <p class="error text-danger small mb-2">{{errorMessageUsername}}</p>
    }

    <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required class="form-control mb-2">
    @if(!password){
      <p class="error text-danger small mb-2">{{errorMessageConstrasena}}</p>
    }

    

    <input [(ngModel)]="password2" name="password2" type="password" placeholder="Repetir contraseña" required class="form-control mb-2">
    @if(!password2){
      <p class="error text-danger small mb-2">{{errorMessageConstrasena}}</p>
    }

    @if(password !== password2){
      <p class="error text-danger small mb-2">{{errorMessageConstrasenas}}</p>
    }
    <div>
      <p>Rol:</p>
      <label>
        <input type="radio" name="rol" value="Usuario" (change)="onRolChange($event)"
              [(ngModel)]="rol" />
        Usuario
      </label>

      <label style="margin-left: 20px;">
        <input type="radio" name="rol" value="admin" (change)="onRolChange($event)"
              [(ngModel)]="rol" />
        Administrador
      </label>
    </div>
    <br>
    <textarea [(ngModel)]="descripcion" name="descripcion" rows="3" placeholder="Descripción" required class="form-control mb-3"></textarea>
    @if(!descripcion){
      <p class="error text-danger small mb-2">{{errorMessageDescripcion}}</p>
    }

    <p 
    [ngClass]="{
      'text-success': mensajeExito === 'ok',
      'text-danger': mensajeExito === 'error'
    }"
    >
      {{ mensajeExito | registro }}
    </p>


    <button type="submit" class="btn btn-primary w-100 mi-boton mb-3" style="border-radius: 50px; transition: 0.3s;"
    [class.active]="boton_activo === true"
    [disabled]="boton_activo === true">
      Registrarse
    </button>
  </form>
</div>
}
